form {
  margin-bottom: 1.5rem;
}

#extra {
  display: flex;
  flex-wrap: wrap;

  label, input {
    width: 100%;
    margin: 0;
  }

  label {
    font-size: 1rem;
    margin-top: .4rem;
  }

  & > * {
    width: 100%;

    @media (min-width: 28.75rem) {
      width: 50%;

      &:nth-child(odd) {
        padding-right: .5rem;
      }

      &:nth-child(even) {
        padding-left: .5rem;
      }
    }
  }
}

#meter {
  display: flex;

  input {
    flex: 1 1 auto;
  }

  span {
    flex: 0 0 auto;
    margin: 0 .3rem;
  }
}
