$equalizer-loader-width: 3rem;
$equalizer-loader-height: 2.5rem;
$equalizer-loader-bars: 6;
$equalizer-loader-bar-width: .375rem;
$equalizer-loader-bar-spacing: .0625rem;

$theme-color: #2479a0;
$text-color: #fff;

$actions-width: 5rem;
$actions-height: 5rem;

$start-width: 5rem;
$start-height: 5rem;

$info-width: 2rem;
$info-height: 2rem;
$info-distance-from-border: 1rem;

$needle-transition-duration: .3s;
