@import 'variables';

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $theme-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  will-change: opacity, z-index;
  transition: .2s opacity ease-in-out, .2s z-index step-end;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }
}

svg {
  fill: $text-color;
}

#actions {
  width: $actions-width;
  height: $actions-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: $info-width;
  height: $info-height;
  position: fixed;
  top: $info-distance-from-border;
  right: $info-distance-from-border;
}

#start {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: $start-width;
  height: $start-height;
}

#equalizer-loader {
  height: $equalizer-loader-height;

  & > div {
    width: $equalizer-loader-bar-width;
    height: 100%;
    margin-right: $equalizer-loader-bar-spacing;
    background-color: $text-color;
    display: inline-block;
    transform-origin: center bottom;
    animation: equalizer-animation ease-in-out infinite alternate;

    $current-value: 150;
    @for $n from 0 to $equalizer-loader-bars {
      $adder: if($n % 2 == 0, 100, -25);
      $current-value: $current-value + $adder;
      &:nth-child(#{$n + 1}) {
        animation-duration: #{$current-value}ms;
      }
    }
  }
}

@keyframes equalizer-animation {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
